.subtext{
  font-size: 18px;
  margin-bottom: 25px;
}

.question-box, .final-box{
  margin-top: 25px;
  padding: 20px;
  border-radius: 18px;
  background: rgba(255,255,255,0.18);
  box-shadow: 0 0 20px rgba(255,105,180,0.3);
}

.buttons{
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.btn{
  border: none;
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 14px;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover{
  transform: scale(1.05);
}

.yes{
  background: #ff4d88;
  color: white;
}

.no{
  background: rgba(255,255,255,0.6);
  color: #ff1a66;
  font-weight: bold;
}

.result{
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
}

.signature{
  margin-top: 10px;
  font-size: 18px;
}

