body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #ff9a9e, #fad0c4);
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.container {
  width: 90%;
  max-width: 700px;
  background: rgba(255, 105, 180, 0.25);
  padding: 40px 25px;
  border-radius: 25px;
  box-shadow: 0 0 25px rgba(255, 105, 180, 0.5);
  z-index: 2;
  position: relative;
}

h1 {
  font-size: 2.7rem;
  margin-bottom: 10px;
}

.subtext {
  font-size: 18px;
  margin-bottom: 25px;
  opacity: 0.95;
}

.question-box, .final-box {
  margin-top: 25px;
  padding: 20px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.18);
  box-shadow: 0 0 20px rgba(255, 105, 180, 0.25);
}

.buttons {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.btn {
  border: none;
  padding: 12px 22px;
  font-size: 18px;
  border-radius: 14px;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  transform: scale(1.06);
}

.yes {
  background: #ff2e7a;
  color: white;
  font-weight: bold;
}

.no {
  background: rgba(255, 255, 255, 0.75);
  color: #ff1a66;
  font-weight: bold;
}

.result {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
}

.signature {
  margin-top: 10px;
  font-size: 18px;
}

/* HEARTS */
#hearts {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
  z-index: 1;
}

.heart {
  position: absolute;
  bottom: -30px;
  animation: floatUp linear forwards;
}

@keyframes floatUp {
  0% { transform: translateY(0) scale(1); opacity: 1; }
  100% { transform: translateY(-110vh) scale(1.6); opacity: 0; }
}

.bigmsg{
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
}

.name-line .heart{
  display: inline-block;
  margin: 0 10px;
  font-size: 32px;
  animation: pulse 0.9s infinite;
}

.name-line .heart{
  display: inline-block;
  margin: 0 10px;
  animation: pulse 0.9s infinite;
}

@keyframes pulse{
  0%{ transform: scale(1); }
  50%{ transform: scale(1.25); }
  100%{ transform: scale(1); }
}

